services:
  db:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: nukece
      MARIADB_USER: nukece
      MARIADB_PASSWORD: nukece
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3307:3306"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      NUKECE_DB_HOST: db
      NUKECE_DB_NAME: nukece
      NUKECE_DB_USER: nukece
      NUKECE_DB_PASS: nukece
volumes:
  dbdata:
