<?php
/**
 * Sample configuration file for NukeCE. To configure your installation,
 * copy this file to config.php and customise the values below to
 * match your environment. You can also use install/install.php which
 * generates a config.php for you.
 */
return [
    'db_host' => 'localhost',      // Database host
    'db_name' => 'nukece',         // Database name
    'db_user' => 'username',       // Database user
    'db_pass' => 'password',       // Database password
];